.weather-card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  white-space: nowrap;
  padding: 10px;
}
.weather-search-input {
  height: 31px;
  width: 100px;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}
.card-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* CSS */
.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: #fff;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
  background-color: #48484a;
}

.search-button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.center-class {
  text-align: center;
  margin: 10px;
}
